main{
    section{
        div{
            a{
                img{
                    width: 80px;
                    height: 80px;
                    position: fixed;
                    right: 80px;
                    bottom: 80px;
                    transition: 1s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    section{
        width: 100%;
        margin-top: 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: 250px;
            div{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    box-shadow: 38px 40px 80px -32px rgba(0, 0, 0, 0.41);
                    -webkit-box-shadow: 38px 40px 80px -32px rgba(0, 0, 0, 0.41);
                    -moz-box-shadow: 38px 40px 80px -32px rgba(0, 0, 0, 0.41);
            }
        }
    }
}