/*!----------------------------------------------INDEX------------------------------------------------*/

/*---DESCRIPTION COMPANY---*/
@media screen and (max-width:800px) {
    .nosotros {
        flex-direction: column;
    }

    .nosotros img {
        width: 100%;
        height: 400px;
    }

    .nosotros div {
        width: 100%;
    }
}


/*--WHATSAPP BOTON--*/
@media screen and (max-width:650px) {
    .botton-fixed {
        display: none;
    }
}



/*!----------------------------------------------------CONTACT---------------------------------------------*/

@media screen and (max-width:690px) {
    .contacto-pag {
        flex-direction: column;
        padding: 0;
    }

}

@media screen and (max-width:580px) {
    .contacto-pag nav ul {
        flex-direction: column;
        text-align: center;
    }
}
/*--MAPS--*/
@media screen and(max-width:300px) {
    .map-responsive {
        width: 100%;
        height: auto;
    }
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/*!---------------------------------------------------GALLERY--------------------------------------*/
/*---HEADER---*/
@media screen and (max-width:690px) {
    .menu-galeria {
        flex-direction: column;
        padding: 0;
    }

}

@media screen and (max-width:580px) {
    .menu-galeria nav ul {
        flex-direction: column;
        text-align: center;
    }
}

/*!-----------------------------------------------SERVICES---------------------------------------------------*/
/*----HEADER----*/
@media screen and (max-width:690px) {
    .menu-servicios {
        flex-direction: column;
        padding: 0;
    }

}