$color-negro: rgb(0, 0, 0);
$color-blanco: rgb(255, 255, 255);
$color-azul-oscuro: rgb(15, 12, 101);
$color-azul-oscuro-transparente: rgba(28, 18, 142, 0.435);
$color-azul-claro-transparente: rgba(110, 110, 190, 0.435);
$color-azul-claro: rgb(127, 127, 200);
